@model CST451.Models.Users.EmployeeViewModel

@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddEmployee</h1>

<h4>EmployeeViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddEmployee" class="needs-validation" onsubmit="return checkPass()" method="post" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label" for="name" ></label>
                <input asp-for="Name" class="form-control" id="name" required />
                <div class="valid-feedback">Looks Good!</div>
                <div class="invalid-feedback">Name Required</div>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label" for="address"></label>
                <input asp-for="Address" class="form-control" id="address" required />
                <div class="valid-feedback">Looks Good!</div>
                <div class="invalid-feedback">Address Required</div>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label" for="city"></label>
                <input asp-for="City" class="form-control" id="city" required />
                <div class="valid-feedback">Looks Good!</div>
                <div class="invalid-feedback">City Required</div>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <select asp-for="State" id="inputState" class="form-control mb-2" required>
                    <option value="" disabled selected>Select One...</option>
                    <option value="Alabama">Alabama</option>
                    <option value="Alaska">Alaska</option>
                    <option value="Arizona">Arizona</option>
                    <option value="Arkansas">Arkansas</option>
                    <option value="California">California</option>
                    <option value="Colorado">Colorado</option>
                    <option value="Connecticut">Connecticut</option>
                    <option value="Delaware">Delaware</option>
                    <option value="Florida">Florida</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Idaho">Idaho</option>
                    <option value="Illinois">Illinois</option>
                    <option value="Indiana">Indiana</option>
                    <option value="Iowa">Iowa</option>
                    <option value="Kansas">Kansas</option>
                    <option value="Louisiana">Louisiana</option>
                    <option value="Maine">Maine</option>
                    <option value="Maryland">Maryland</option>
                    <option value="Massachusetts">Massachusetts</option>
                    <option value="Michigan">Michigan</option>
                    <option value="Minnesota">Minnesota</option>
                    <option value="Mississippi">Mississippi</option>
                    <option value="Missouri">Missouri</option>
                    <option value="Montana">Montana</option>
                    <option value="Nebraska">Nebraska</option>
                    <option value="Nevada">Nevada</option>
                    <option value="New Hampshire">New Hampshire</option>
                    <option value="New Jersey">New Jersey</option>
                    <option value="New Mexico">New Mexico</option>
                    <option value="New York">New York</option>
                    <option value="North Carolina">North Carolina</option>
                    <option value="North Dakota">North Dakota</option>
                    <option value="Ohio">Ohio</option>
                    <option value="Oklahoma">Oklahoma</option>
                    <option value="Oregon">Oregon</option>
                    <option value="Pennsylvania">Pennsylvania</option>
                    <option value="Rhode Island">Rhode Island</option>
                    <option value="South Carolina">South Carolina</option>
                    <option value="South Dakota">South Dakota</option>
                    <option value="Tennessee">Tennessee</option>
                    <option value="Texas">Texas</option>
                    <option value="Utah">Utah</option>
                    <option value="Vermont">Vermont</option>
                    <option value="Virginia">Virginia</option>
                    <option value="Washington">Washington</option>
                    <option value="West Virginia">West Virginia</option>
                    <option value="Wisconsin">Wisconsin</option>
                    <option value="Wyoming">Wyoming</option>
                </select>
                <div class="valid-feedback">Looks Good!</div>
                <div class="invalid-feedback">Choose a State</div>
            </div>
            <div class="form-group">
                <label asp-for="Zip" class="control-label"></label>
                <input asp-for="Zip" min="10000" max="99999" class="form-control" required />
                <div class="valid-feedback">Looks Good!</div>
                <div class="invalid-feedback">Enter a Valid Zip</div>
            </div>
            <input type="hidden" asp-for="Country" value="USA" />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" required />
                <div class="valid-feedback">Looks Good!</div>
                <div class="invalid-feedback">Email Required</div>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input type="tel" asp-for="Phone" class="form-control" id="phone" required />
                <div class="valid-feedback">Looks Good!</div>
                <div class="invalid-feedback">Phone Required</div>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" required />
                <div class="valid-feedback">Looks Good!</div>
                <div class="invalid-feedback">Username Required</div>            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" id="pass1" class="form-control" required />
                <div class="valid-feedback">Looks Good!</div>
                <div class="invalid-feedback">Passwords Must Match</div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" id="pass2" class="form-control" required />
                <div class="valid-feedback">Looks Good!</div>
                <div class="invalid-feedback">Passwords Must Match</div>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Add Employee" class="btn btn-success m-2" />
            </div>
        </form>
    </div>
</div>

<script>
    
    function checkPass(){
        var pass1 = document.getElementById("pass1").value;
        var pass2 = document.getElementById("pass2").value;
        submitOK = false;
        if (pass1 === pass2){
            submitOK = true;
        }
        return submitOK;
    }

    // Validate fields in form
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
