@using CST451.Models.ViewModels.Products
@model List<ProductViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Products</h1>
<div class="container-fluid">
    <div class="row">

        @foreach (ProductViewModel item in Model)
        {
            <div class="card m-1 p-1" style="width: 18rem;">
                <img src="@item.ImagePath" class="card-img-top" alt="image failed to load">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@Html.DisplayFor(model => item.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(model => item.Description)</p>

                        <a href="#" class="align-self-end btn btn-primary" style="margin-top:auto">Add to Cart</a>
                </div>
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
