@model CST451.Models.ViewModels.Products.ProductViewModel
<form asp-action="View">

    <input asp-for="ID" type="hidden"/>

    <input asp-for="Name" type="hidden" />

    <input asp-for="Description" type="hidden" />

    <input asp-for="Compatibility" type="hidden" />

    <input asp-for="Price" type="hidden" />

    <input asp-for="ImagePath" type="hidden" />

    <input type="submit" value="Add to Cart" class="btn btn-primary" />

</form>

