@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please click <a asp-area="" asp-controller="Customer" asp-action="Login">here</a> to login</p>
</div>
